h3, label {
	width:120px;
	padding-top:6px;
	display:inline-block;
	line-height: 1em;
	font-weight:normal;
	font-size:inherit;
	color:#666;
}

.field {
	margin-bottom:10px;
	position: relative;
}

.field:hover > .delete {
	opacity: 1;
}

.delete {
	-webkit-transition: .15s opacity;
    background:transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==") no-repeat;
    border: none;
    display: block;
    height: 16px;
    width: 16px;
    opacity: 0;
    text-indent:-2000px;
    position:absolute;

    left:-18px;
    top:6px;
    padding-right:4px;
    -webkit-user-select: none;
}

.delete:hover {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=');
    opacity: 1;
}

.delete:active {
     background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAARElEQVQoz2P4z4AfMlBLAYMdwxkghgEwD1XBGTC0g0sDIaYJECVwFqoChBK4WegKkJWArSJZAQErCDqSKG/iCyhaRhYA9LDIbULDzlIAAAAASUVORK5CYII=');
}

section {
    -webkit-box-orient: horizontal;
}

section > h3, section > label, section > div, fieldset{
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}

fieldset {
    border:none;
    padding:0;
    margin:0;
    padding-left:10px;
    -webkit-transition: all .1s linear;
    border-left:1px solid #DDD;
    margin-bottom:6px ;
}

form > fieldset {
    padding:0;
    border:none;
}

form > .form-buttons {
    margin-top:24px;
    padding-top:18px;
    border-top:1px solid #EEE;
}

form > .form-buttons > .btn {
    margin-right:10px;
    padding:6px 12px;
}

.delete:hover ~ div fieldset, fieldset:hover{
    opacity:1;
    border-color:#AAA;
}

input.error {
    border-color:#DD4B39!important;
}

input, textarea, select, .uneditable-input,.chzn-container-multi .chzn-choices {
    margin-bottom:0;
    border-radius: 0;
    border-color:#CCC;
}

input:focus, .chzn-container-active .chzn-choices, textarea:focus {
    border-color: rgba(56, 117, 215, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(56, 117, 215, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(56, 117, 215, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(56, 117, 215, 0.6);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}

.btn, .chzn-container-single .chzn-single, .chzn-container-multi .chzn-choices .search-choice {
    font-size: .9em;
}

.chzn-container-single .chzn-search input {
    padding: 3px 20px 3px 5px;
}

.readonly-value {
    padding-top: 3px;
}
